<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techhack.mygymbuddy" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- This permission is needed to allow the app to turn on the screen when it creates the notification-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".youtubePlayback"
            android:label="YoutubePlayback">
        </activity>

        <activity
            android:name=".InstructionActivity"
            android:label="InstructionActivity">
            </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>

        <service
            android:name="com.zebra.mpact.mpactclient.MPactService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="MPact" >
        </service>

        <!-- This section enables auto-launching the app when the device is first powered up -->
        <receiver android:name=".LaunchReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- This section enables a service that will relaunch the app if it is killed -->
        <service
            android:name=".MonitorService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>

</manifest>
